<%= form_for(@profile) do |f| %>
  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% @profile.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :facebook_id %><br />
    <%= f.text_field :facebook_id %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :full_name %><br />
    <%= f.text_field :full_name %>
  </div>
  <div class="field">
    <%= f.label :birthday %><br />
    <%= f.datetime_select :birthday %>
  </div>
  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :hometown %><br />
    <%= f.text_field :hometown %>
  </div>
  <div class="field">
    <%= f.label :political %><br />
    <%= f.text_field :political %>
  </div>
  <div class="field">
    <%= f.label :religion %><br />
    <%= f.text_field :religion %>
  </div>
  <div class="field">
    <%= f.label :relationship_status %><br />
    <%= f.text_field :relationship_status %>
  </div>
  <div class="field">
    <%= f.label :interested_in %><br />
    <%= f.text_field :interested_in %>
  </div>
  <div class="field">
    <%= f.label :significant_other_id %><br />
    <%= f.text_field :significant_other_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
