<h1>Listing users</h1>

<table>
  <tr>
    <th>Facebook</th>
    <th>Full name</th>
    <th>Gender</th>
    <th>Score</th>
    <th>Wins</th>
    <th>Losses</th>
    <th>Win streak</th>
    <th>Loss streak</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.facebook_id %></td>
    <td><%= user.full_name %></td>
    <td><%= user.gender %></td>
    <td><%= user.score %></td>
    <td><%= user.wins %></td>
    <td><%= user.losses %></td>
    <td><%= user.win_streak %></td>
    <td><%= user.loss_streak %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
