<p id="notice"><%= notice %></p>

<p>
  <b>Facebook:</b>
  <%= @user.facebook_id %>
</p>

<p>
  <b>Full name:</b>
  <%= @user.profile.full_name %>
</p>

<p>
  <b>Gender:</b>
  <%= @user.gender %>
</p>

<p>
  <b>Score:</b>
  <%= @user.score %>
</p>

<p>
  <b>Wins:</b>
  <%= @user.wins %>
</p>

<p>
  <b>Losses:</b>
  <%= @user.losses %>
</p>

<p>
  <b>Win streak:</b>
  <%= @user.win_streak %>
</p>

<p>
  <b>Loss streak:</b>
  <%= @user.loss_streak %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
